.btn {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:var(--secondary-color);    
    border:1px solid var(--secondary-color);    
    cursor:pointer;
    color:var(--text-color);
    text-decoration:none;
    text-shadow:0px 1px 0px var(--accent-color);

    width: 100%;
    
    a{
        margin: 1em;
        font-size: inherit;
    }

    &.rounded{
        border-radius:3em;
    }

    &:hover{
        background:linear-gradient(to bottom, var(--secondary-color) 50%, var(--accent-color) 100%);
    }

    &.active{
        position:relative;
        top:1px;
        background-color: var(--accent-color);
        &:hover{
            background:linear-gradient(to bottom, var(--accent-color) 50%, var(--secondary-color) 100%);
        }
    }
}