$background-color: #FFFFFF;
$primary-color: #BDFFFD;
$secondary-color: #9FFFF5;
$accent-color: #7CFFC4;
$secondary-dark-color: #6ABEA7;
$primary-dark-color: #5E6973;
$background-dark-color: #000000;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color: #{$accent-color};    
    --background-color: #{$background-color};    
    --font-color: #{$primary-dark-color};
    --font-accent-color: #{$secondary-dark-color};
  }

  .dark {
    --primary-color: #{$primary-dark-color};
    --secondary-color: #{$secondary-dark-color};
    --background-color: #{$background-dark-color};
    --accent-color: #{$accent-color};
    --font-color: #{$primary-color};
    --font-accent-color: #{$secondary-color};
  }

@mixin animated($property) {
    transition-property: $property;
    transition-duration: .5s;
}