@import "./icons/arrow.scss";
@import "./icons/cross-burger.scss";
@import "./icons/lock.scss";

@mixin icon-container($size, $back-color, $arrow-color) {
    width: $size;
    height: $size;
    padding-top: $size;
    padding-left: .5 * $size;
    padding-right: .5 * $size;
    border-radius: $size;
    background-color: $back-color;
}

// === burger-container === //
@mixin burger-container($size, $back-color, $arrow-color){
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include x-burger($size, $arrow-color);
        @include x-icon($size, $arrow-color);
    }
}

@mixin cross-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include x-burger($size, $arrow-color);
        @include burger-icon($size, $arrow-color);
    }
}

// === arrow-icon === //
@mixin arrow-def-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include arrow($size, $arrow-color);
    }
}

@mixin arrow-locked-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include arrow($size, $arrow-color);
        @include locked-arrow($size, $arrow-color);
    }
}

@mixin arrow-reversed-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include arrow($size, $arrow-color);
        @include reverse-arrow($size, $arrow-color);
    }
}

// === lock-icon === //
@mixin lock-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include lock($size, $arrow-color);
    }
}

@mixin lock-opened-container($size, $back-color, $arrow-color) {
    @include icon-container($size, $back-color, $arrow-color);

    .icon{
        @include lock($size, $arrow-color);
        @include lock-opened($size, $arrow-color);
    }
}