@mixin arrow ($width: 4em, $color) {
    position: relative;
    background: $color;
    width: $width;
    height: .1 * $width;
    transition: 0.5s;
    border-radius: .25 * $width;
    transform-origin: center center;

    transform: rotate( 0deg);

    &:before, &:after{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        background: $color;
        width: .5 * $width;
        height: .1 * $width;
        transform-origin: .05 * $width center;
        transition: 0.5s;
        border-radius: .25 * $width;
    }

    &:before{
        transform: rotate(35deg);
    }

    &:after{
        transform: rotate(-35deg);
    }
}

@mixin locked-arrow ($width: 4em, $color) {
    @include arrow($width, $color);
    
    transform: rotate( 90deg);

    &:before, &:after{
        background: none;
    }
}

@mixin reverse-arrow ($width: 4em, $color) {
    @include arrow($width, $color);

    &:before, &:after{
        left: (1 - .05) * $width;
    }
    
    &:before{
        transform: rotate( 145deg);
    }

    &:after{
        transform: rotate( -145deg);
    }
}