@mixin x-burger ($width: 4em, $color){
    position: relative;
    width: $width;
    height: .1 * $width;
    transition: 0.5s;
    border-radius: .25 * $width;
    transform-origin: right center;

    &:before, &:after{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        background: $color;
        width: $width;
        height: .1 * $width;
        transform-origin: center;
        transition: 0.5s;
        border-radius: .25 * $width;
    }
}

@mixin x-icon ($width: 4em, $color) {
    @include x-burger($width, $color);

    &:before{        
        transform: rotate(45deg);
    }

    &:after{
        transform: rotate(-45deg);
    }
}

@mixin burger-icon ($width: 4em, $color) {
    @include x-burger($width, $color);

    background: $color;

    &:before{        
        transform: translate(0, .25 * $width);
    }

    &:after{
        transform: translate(0, -1 * .25 * $width);
    }
}