@mixin lock ($width: 4em, $color) {
    position: relative;
    background: $color;
    width: .6 * $width;
    height: .7 * $width;
    transition: 0.5s;

    background: transparent;
    
    border: .2 * $width solid $color;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    top: -1 * $width;

    transform-origin: center center;
    transition-property: transform;

    &:after{
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: $width;
        height: .7 * $width;
        border-radius: .1 * $width;
        box-shadow: 0 0 0 .2 * $width $color;
        top: .7 * $width;        
        left: -.2 * $width;
        transition-property: transform;
    }
}

@mixin lock-opened ($width: 4em, $color) {
    transform: scale(-1, 1) translateX(.8 * $width);
    &:after{
        transform: scale(-1, 1) translateX(.8 * $width);
    }
}