@import "../../theme/base.scss";

// .search-results-container{
//     border-spacing:0;
//     width: 100%;

//     thead{
//         position:sticky;
//         top:0;
//     }

//     td{
//         text-align: center;
//     }

//     th{
//         .table-header{
//             user-select: none;
//             margin:0;
//             width: 100%;
//             padding-left: .5em;
//             padding-right: .5em;
//             border-radius: 0;
//             background:linear-gradient(to bottom, var(--accent-color) 50%, var(--secondary-color) 100%);

//             display: flex;
//             flex-direction: row;
//             //justify-content: space-between;

//             .sort-icon-container{
//                 @include arrow-locked-container(1em, var(--accent-color), var(--font-color));                
//                 transform: rotate( -90deg);
//             }

//             &.sort-asc{
//                 // background:linear-gradient(to bottom, var(--font-accent-color) 5%, var(--primary-color) 100%);

//                 .sort-icon-container{
//                     @include arrow-def-container(1em, var(--accent-color), var(--font-color));
//                 }
//             }

//             &.sort-desc{
//                 // background:linear-gradient(to bottom, var(--primary-color) 5%, var(--font-accent-color) 100%);

//                 .sort-icon-container{
//                     @include arrow-reversed-container(1em, var(--accent-color), var(--font-color));
//                 }
//             }
//         }
//     }

//     tr:nth-child(2n+3){
//         background-color: var(--primary-color);
//         color: var(--font-color);
//     }
    
//     tr:nth-child(2n+2){
//         background-color: var(--background-color);
//         color: var(--font-color);
//     }
// }

.search-results-container{
    display: grid;

    [class^='col-'], [class*=' col-']{
        justify-self: center;
    }
    
    .col-0{
        grid-column: 1 / 2;
    }
    .col-1{
        grid-column: 2 / 3;
    }
    .col-2{
        grid-column: 3 / 4;
    }
    .col-3{
        grid-column: 4 / 5;
    }
    .col-4{
        grid-column: 5 / 6;
    }
    .col-5{
        grid-column: 6 / 7;
    }
    .col-6{
        grid-column: 7 / 8;
    }
    
    .row-prepend{
        grid-row: 1 / 2;
    
        &.locker-icon-container{
            justify-self: end;
    
            @include lock-container(.9em, transparent, var(--font-color));
    
            &.locked{
                @include lock-opened-container(.9em, transparent, var(--font-color));
            }
        }
    }
    
    .row-header{
        grid-row: 2 / 3;
    
        position: sticky;
        top:0;
    
        &[class^='col-'], &[class*=' col-']{
            user-select: none;
                margin:0;
                width: 100%;
                // padding-left: .5em;
                // padding-right: .5em;
                border-radius: 0;
                background:linear-gradient(to bottom, var(--accent-color) 50%, var(--secondary-color) 100%);
    
                display: flex;
                flex-direction: row;
                justify-content: center;

                div{
                    align-self: center;
                }
    
                .sort-icon-container{
                    @include arrow-locked-container(1em, var(--accent-color), var(--font-color));                
                    transform: rotate( -90deg);
                }
    
                &.sort-asc{
                    // background:linear-gradient(to bottom, var(--font-accent-color) 5%, var(--primary-color) 100%);
    
                    .sort-icon-container{
                        @include arrow-def-container(1em, var(--accent-color), var(--font-color));
                    }
                }
    
                &.sort-desc{
                    // background:linear-gradient(to bottom, var(--primary-color) 5%, var(--font-accent-color) 100%);
    
                    .sort-icon-container{
                        @include arrow-reversed-container(1em, var(--accent-color), var(--font-color));
                    }
                }
        }
    }
}