@import "../../theme/base.scss";

.search-component{
    display: grid;

    .text-label {
        font-family: Arial;
        font-size: inherit;
        font-weight: bold;
        text-align: center;
        margin: 1em 0;
    }

    .text-input{
        font-size: inherit;
        border-radius: 2em;
        border-color: var(--font-accent-color);
        color: var(--font-color);
        background-color: var(--primary-color);
        padding: 1em;
        margin: 1em;
        outline: none;
        text-align: center;
    }

    .btn{
        font-size: inherit;
        align-items: center;
        width: 80%;
        margin: auto;
        height: 2em;
        border-radius:3em;
    }
}