
.nav-bar {
    margin: 0;
    padding: 0;    
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;

    &.collapsed{
        overflow-x: hidden;
    }


    .nav-bar-controller{
        @include burger-container(1.5em, var(--secondary-color), var(--font-color));
        margin-left: auto; 
        margin-right: 0;
        transition: .5s ease all;
    }
    &.collapsed{
        .nav-bar-controller{
            overflow: visible;           
            transform: rotate(180deg);
            background: var(--secondary-color);
            @include cross-container(1.5em, var(--accent-color), var(--font-color));
        }
    }

    .nav-items-container{
        list-style-type: none;
        padding-inline-start:0;
        margin-block-start: 0;
        margin-block-end: 0;

        margin-top: 2em;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        align-items: stretch;
    }

    .btn-wrapper{
        @include animated($property: width);

        .btn{
            height: 3em;
        }
    }    
    &.collapsed{
        .btn-wrapper{
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }
}