@import "./theme/base.scss";
@import "./theme/icons.scss";
@import "./components/navbar.component/navbar.scss";
@import "./components/search-results.component/search-results.component.scss";
@import "./components//search.component/search.component.scss";
@import "./components/button.component/button.compnent.scss";
@import "./components/search.component/search.component.scss";

body{
    margin:0;
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 2em;
    }
  }

.root-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.search-container {    
    //padding: 1px 16px;
    flex-grow: 1;
    @include animated($property: margin);
 }

 